Repository PetroPricesnearMe/petrol-prices-melbourne, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @frontend-team, @design-team, @backend-team, @qa-team, @devops-team, @documentation-team

.github/CODEOWNERS:

# Code Owners
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for
# review when someone opens a pull request.

# Global owners
* @your-github-username

# Component owners
/src/components/ @frontend-team
/src/design-system/ @design-team

# API and backend
/src/services/ @backend-team
/pages/api/ @backend-team

# Testing
/__tests__/ @qa-team
/e2e/ @qa-team
/cypress/ @qa-team

# Configuration
*.json @devops-team
*.yml @devops-team
*.yaml @devops-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# CI/CD
/.github/ @devops-team

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Owners: @devops-team

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Owners: @devops-team

Create super-linter.yml
  .github/workflows/super-linter.yml
Owners: @devops-team

feat: add performance testing and verification tools
  DEBUGGING_FIXES_APPLIED.md
  DEBUGGING_TROUBLESHOOTING_GUIDE.md
  DEPLOYMENT_SUCCESS.md
  DEPLOY_NOW.md
  OPTIMIZATION_SUMMARY.md
  QUICK_TEST_REFERENCE.md
  TESTING_CHECKLIST.md
  TESTING_SUMMARY.md
  VERCEL_DEPLOYMENT_FIX.md
  VERIFICATION_TESTING_GUIDE.md
  package.json
  scripts/verify-performance.js
  src/app/layout.tsx
  src/components/accessibility/Modal.tsx
  src/components/atoms/Input/Input.tsx
  src/components/layout/Footer.tsx
  src/components/organisms/EnhancedFooter.tsx
  src/components/organisms/Footer/Footer.tsx
  src/components/organisms/Footer/ModernFooter.tsx
  src/components/organisms/Footer/ResponsiveFooter.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/components/ui/input.tsx
  src/hooks/useMounted.ts
  vercel.json
Owners: @documentation-team, @devops-team, @your-github-username, @frontend-team

Create SECURITY.md
  SECURITY.md
Owners: @documentation-team

FORCE: commit all staged changes
  .eslintrc.json
  FIX_SUMMARY.md
  REFACTORING_SUMMARY.md
  __mocks__/framer-motion.js
  eslint-output.json
  jest.config.js
  next.config.ts
  package.json
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  src/app/directory/StationDirectoryClient.tsx
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/fuel-price-trends/FuelTrendsClient.tsx
  src/app/hero-example/page.tsx
  src/app/search-test/SearchTestClient.tsx
  src/components/NorthernTradieCard/NorthernTradieCard.tsx
  src/components/NorthernTradieCard/__tests__/NorthernTradieCard.test.tsx
  src/components/atoms/Button/Button.test.tsx
  src/components/atoms/Button/Button.tsx
  src/components/common/ErrorBoundary/SpecializedBoundaries.tsx
  src/components/directory/InfiniteScrollDirectory.tsx
  src/components/examples/FluidLayoutExamples.tsx
  src/components/molecules/AdvancedSearchBar/__tests__/AdvancedSearchBar.test.tsx
  src/components/organisms/FilterBar/CategoryChips.tsx
  src/components/pages/EnhancedLandingPage.tsx
  src/components/pages/TestimonialsSection.tsx
  src/utils/performance.ts
Owners: @devops-team, @documentation-team, @your-github-username, @frontend-team

FORCE: add real commit
  next.config.ts
  public/sitemap-0.xml
  src/components/NorthernTradieCard/__tests__/NorthernTradieCard.test.tsx
  src/components/atoms/Button/Button.test.tsx
  src/components/molecules/AdvancedSearchBar/__tests__/AdvancedSearchBar.test.tsx
Owners: @your-github-username, @frontend-team

ci: add package-lock.json for CI builds
  .gitignore
  package-lock.json
Owners: @your-github-username, @devops-team

FORCE: add real commit
  STATION_LISTING_FIX_SUMMARY.md
  STATION_LISTING_FIX_VISUAL_GUIDE.md
  TYPESCRIPT_UPDATE_GUIDE.md
  package-lock.json
  package.json
  scripts/verify-typescript-version.js
  src/app/directory/StationDirectoryClient.tsx
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/map/MapViewClient.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/components/pages/PricingSection.tsx
  src/components/pages/TestimonialsSection.tsx
  src/components/ui/HeroSection.tsx
Owners: @documentation-team, @devops-team, @your-github-username, @frontend-team

FORCE: add real commit
  REFACTORING_QUICK_START.md
  REFACTORING_SUMMARY.md
  RESPONSIVE_LAYOUT_SUMMARY.md
  docs/RESPONSIVE_LAYOUT_GUIDE.md
  src/app/api/cms/[collection]/[id]/route.ts
  src/app/api/cms/[collection]/route.ts
  src/app/api/cms/[collection]/slug/[slug]/route.ts
  src/app/api/revalidate/route.ts
  src/app/cms-example/[slug]/page.tsx
  src/app/cms-example/client/page.tsx
  src/app/cms-example/page.tsx
  src/app/directory/page-refactored-example.tsx
  src/components/cms/CMSContent.tsx
  src/components/cms/CMSErrorBoundary.tsx
  src/components/cms/CMSList.tsx
  src/components/layout/PageLayouts.tsx
  src/components/layout/ResponsiveGrid.tsx
  src/components/layout/ResponsiveLayoutExamples.tsx
  src/components/pages/LandingPage/RefactoredLandingPage.tsx
  src/components/pages/LandingPage/components/Badge.tsx
  src/components/pages/LandingPage/components/Button.tsx
  src/components/pages/LandingPage/components/Icon.tsx
  src/components/pages/LandingPage/components/Section.tsx
  src/components/pages/LandingPage/components/index.ts
  src/components/pages/LandingPage/constants.ts
  src/components/pages/LandingPage/data.ts
  src/components/pages/LandingPage/hooks.ts
  src/components/pages/LandingPage/index.ts
  src/components/pages/LandingPage/types.ts
  src/lib/cms/cache.ts
  src/lib/cms/config.ts
  src/lib/cms/error-handler.ts
  src/lib/cms/index.ts
  src/lib/cms/providers/airtable.ts
  src/lib/cms/providers/baserow.ts
  src/lib/cms/providers/sanity.ts
  src/lib/cms/types.ts
Owners: @documentation-team, @your-github-username, @frontend-team

FORCE: add real commit2
  CMS_IMPLEMENTATION_SUMMARY.md
  CMS_INTEGRATION_COMPLETE.md
  ENV_CONFIGURATION.md
  QUICK_START_CMS.md
  README_CMS_INTEGRATION.md
  USAGE_EXAMPLES.md
  src/components/cms/index.ts
  src/hooks/useCMS.ts
  src/lib/cms/cache.ts
  src/lib/cms/types.ts
Owners: @documentation-team, @frontend-team, @your-github-username

FORCE: add real commit23
  IMPLEMENTATION_SUMMARY.md
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/directory/page-standardized.tsx
  src/components/ui/COMPONENT_LIBRARY.md
  src/components/ui/primitives/Button.tsx
  src/components/ui/primitives/Card.tsx
  src/components/ui/primitives/Input.tsx
  src/components/ui/primitives/index.tsx
  src/lib/utils.ts
Owners: @documentation-team, @your-github-username, @frontend-team

FORCE: add real commit23
  COMPLETE_UI_DELIVERY_SUMMARY.md
  IMAGE_OPTIMIZATION_GUIDE.md
  MELBOURNE_MAP_INTEGRATION_COMPLETE.md
  MELBOURNE_MAP_INTEGRATION_GUIDE.md
  MELBOURNE_MAP_VISUAL_PROTOTYPE.md
  UI_COMPONENTS_COMPLETE_GUIDE.md
  scripts/optimize-melbourne-map.js
  src/app/about/page.tsx
  src/components/pages/LandingPage/MelbourneMapSection.tsx
  src/components/pages/LandingPage/components/Button.tsx
  src/components/pages/LandingPage/data.ts
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/components/ui/modern/Button.tsx
  src/components/ui/modern/README.md
  src/lib/seo/meta-generator.ts
  src/types/component.ts
  src/utils/performance-monitor.ts
  tailwind.config.js
  🎨_UI_COMPONENTS_DELIVERED.md
Owners: @documentation-team, @your-github-username, @frontend-team

FORCE: add real commit23
  package-lock.json
  package.json
Owners: @devops-team

let all the truth get out
  API_INTEGRATION_GUIDE.md
  CONTRIBUTING.md
  PERFORMANCE_OPTIMIZATION_AUDIT.md
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  REFACTORING_SUMMARY.md
  kqkqqkld
  next.config.ts
  src/app/api-example/error.tsx
  src/app/api-example/loading.tsx
  src/app/api-example/page.tsx
  src/app/layout.tsx
  src/components/api/StationCard.tsx
  src/components/api/StationList.tsx
  src/components/api/StationListEmpty.tsx
  src/components/api/StationListError.tsx
  src/components/api/StationListLoading.tsx
  src/components/api/index.ts
  src/components/atoms/BackToTop/BackToTop.tsx
  src/components/atoms/BackToTop/index.ts
  src/components/atoms/LoadingSpinner/LoadingSpinner.tsx
  src/components/atoms/LoadingSpinner/index.ts
  src/components/atoms/ThemeToggle/ThemeToggle.tsx
  src/components/atoms/ThemeToggle/index.ts
  src/components/common/OptimizedImage.tsx
  src/lib/api/data-providers.ts
  src/lib/performance/core-web-vitals.ts
  src/lib/performance/image-optimization.ts
  src/lib/performance/index.ts
  src/lib/performance/lazy-loading.ts
  src/lib/utils/formatters.ts
  src/lib/utils/index.ts
  src/lib/utils/sanitizers.ts
  src/lib/utils/validators.ts
  tailwind.config.js
Owners: @documentation-team, @your-github-username, @frontend-team

chore: remove accidental file (kqkqqkld)
  kqkqqkld
Owners: @your-github-username

update
  BUNDLE_OPTIMIZATION_SUMMARY.md
  INFINITE_SCROLL_IMPLEMENTATION.md
  NEXTJS_15_FRAMER_MOTION_11_AUDIT_REPORT.md
  PERFORMANCE_OPTIMIZATION_REPORT.md
  next.config.ts
  src/components/BlogPage.js
  src/components/FuelPriceTrendsPage.js
  src/components/HowPricingWorksPage.js
  src/components/NorthernTradieCard/NorthernTradieCard.tsx
  src/components/StationAmenitiesPage.js
  src/components/ViewToggle.tsx
  src/components/common/FluidGrid.tsx
  src/components/common/PaginatedGrid.tsx
  src/components/common/Pagination.tsx
  src/components/design/GlassmorphismHero.tsx
  src/components/organisms/FilterBar/CategoryChips.tsx
  src/components/organisms/Footer/ModernFooter.tsx
  src/components/pages/LandingPage/components/Badge.tsx
Owners: @documentation-team, @your-github-username, @frontend-team

makesureitsupdated
  src/components/seo/SEOImage.tsx
Owners: @frontend-team

Fix: Remove conflicting Webpack optimization settings
  WEBPACK_OPTIMIZATION_FIX_SUMMARY.md
  next.config.ts
Owners: @documentation-team, @your-github-username

Fix: Remove conflicting Webpack optimization settings
  WEBPACK_OPTIMIZATION_FIX_SUMMARY.md
  next.config.ts
Owners: @documentation-team, @your-github-username

Changes made by Agent
  WEBPACK_OPTIMIZATION_FIX_SUMMARY.md
  next.config.ts
Owners: @documentation-team, @your-github-username

fix: resolve webpack optimization conflict - remove incompatible sideEffects setting
  next.config.ts
Owners: @your-github-username

Changes made by Agent
  DEPLOYMENT_ERRORS_FIX_SUMMARY.md
  public/icon.svg
  src/middleware.ts
  vercel.json
Owners: @documentation-team, @your-github-username, @devops-team

your message here
  SEO_COMPONENTS_CLEANUP_SUMMARY.md
  src/app/api-example/page.tsx
  src/app/api/cms/[collection]/[id]/route.ts
  src/app/api/cms/[collection]/route.ts
  src/app/api/cms/[collection]/slug/[slug]/route.ts
  src/app/api/revalidate/route.ts
  src/app/api/stations/route.ts
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/map-demo/MapDemoClient.tsx
  src/app/search-test/SearchTestClient.tsx
  src/components/AboutPage.js
  src/components/BlogPage.js
  src/components/ErrorBoundary.js
  src/components/HowPricingWorksPage.js
  src/components/seo/LocalBusinessSchema.tsx
  src/components/seo/RichSchemaMarkup.tsx
  src/lib/cms/providers/airtable.ts
  src/lib/cms/providers/baserow.ts
  src/lib/cms/providers/sanity.ts
  src/lib/env.ts
Owners: @documentation-team, @your-github-username, @frontend-team

yourmumrihthere
  src/components/atoms/ThemeToggle/ThemeToggle.tsx
  src/lib/cms/providers/airtable.ts
  src/lib/cms/providers/sanity.ts
Owners: @frontend-team, @your-github-username

yeye
  src/components/ViewToggle.tsx
  src/components/navigation/Navbar.tsx
Owners: @frontend-team

yeye2
  .husky/post-merge
  .husky/pre-commit
  .huskyrc.json
  HUSKY_SETUP_FIX.md
  package.json
  scripts/setup-husky.js
  src/lib/cms/providers/airtable.ts
Owners: @your-github-username, @devops-team, @documentation-team

fucktheidf
  package.json
  scripts/setup-husky.js
Owners: @devops-team, @your-github-username

letscfukdaidf
  package.json
  scripts/setup-husky.js
Owners: @devops-team, @your-github-username

deathdeathdeath2daidf
  .vercelignore
  package.json
Owners: @your-github-username, @devops-team

exchuse
  next.config.ts
  public/robots.txt
  public/sitemap.xml
  src/app/layout.tsx
Owners: @your-github-username

update
  docs/DEBUG_CHECKLIST.md
  docs/DEBUG_SUMMARY.md
  src/app/directory/StationDirectoryClient.tsx
  src/app/regions/[region]/page.tsx
Owners: @documentation-team, @your-github-username

Refactor Station interface to extend CMSContent and remove unnecessary properties
  src/app/cms-example/[slug]/page.tsx
Owners: @your-github-username

thisupdate
  src/app/directory/[suburb]/page.tsx
  src/components/ExtensionErrorBoundary.js
  src/components/atoms/Image/Image.tsx
  src/components/common/ErrorBoundary/SpecializedBoundaries.tsx
  src/components/pages/LandingPage/seo-data.ts
Owners: @your-github-username, @frontend-team

upateoftheday
  package.json
  scripts/setup-husky.js
Owners: @devops-team, @your-github-username

trumpowednothing
  lib/seo/analytics.ts
  next.config.ts
  src/app/api/cms/[collection]/[id]/route.ts
  src/app/directory/[suburb]/page.tsx
  src/app/regions/[region]/RegionStationsClient.tsx
  src/app/regions/[region]/error.tsx
  src/app/regions/[region]/loading.tsx
  src/components/analytics/GoogleAnalytics.tsx
  src/styles/tailwind-base.css
  vercel.json
Owners: @your-github-username, @frontend-team, @devops-team

trumpowednothing
  src/app/api/cms/[collection]/[id]/route.ts
  src/app/api/cms/[collection]/slug/[slug]/route.ts
  src/app/cms-example/client/page.tsx
  src/app/cms-example/page.tsx
  src/app/directory/[suburb]/SuburbDirectoryClient.tsx
  src/app/example-seo-page/page.tsx
  src/app/map/MapViewClient.tsx
Owners: @your-github-username

trumpowednothing
  src/app/map/MapViewClient.tsx
  src/app/map/page.tsx
  src/app/sitemap.ts
  src/types/station.ts
Owners: @your-github-username

trumpowednothing
  src/app/stations/[id]/page.tsx
  src/components/__examples__/Button.example.tsx
  src/components/__examples__/Card.example.tsx
  src/components/accessibility/Modal.tsx
  src/components/analytics/CookieConsent.tsx
  src/components/atoms/AnimatedCard/AnimatedCard.tsx
  src/components/atoms/BackToTop/BackToTop.tsx
  src/components/atoms/Badge/Badge.tsx
  src/components/atoms/Image/Image.tsx
Owners: @your-github-username, @frontend-team

basichackers
  src/components/atoms/Input/Input.tsx
  src/components/atoms/LoadingSpinner/LoadingSpinner.tsx
  src/components/atoms/Spinner/Spinner.tsx
  src/components/atoms/Text/Text.tsx
  src/components/atoms/ThemeToggle/ThemeToggle.tsx
  src/components/cards/StationCard.tsx
Owners: @frontend-team
