Repository PetroPricesnearMe/petrol-prices-melbourne, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @frontend-team, @design-team, @backend-team, @qa-team, @devops-team, @documentation-team

.github/CODEOWNERS:

# Code Owners
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for
# review when someone opens a pull request.

# Global owners
* @your-github-username

# Component owners
/src/components/ @frontend-team
/src/design-system/ @design-team

# API and backend
/src/services/ @backend-team
/pages/api/ @backend-team

# Testing
/__tests__/ @qa-team
/e2e/ @qa-team
/cypress/ @qa-team

# Configuration
*.json @devops-team
*.yml @devops-team
*.yaml @devops-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# CI/CD
/.github/ @devops-team

basichackers
  src/components/cards/StationCard.tsx
  tsconfig.json
Owners: @frontend-team, @devops-team

yero
  chromewebdata_2025-11-17_05-27-50.report.html
  package-lock.json
Owners: @your-github-username, @devops-team

Fix StationCard duplicate exportddd
  package.json
  scripts/setup-husky.js
  src/components/__examples__/Button.example.tsx
  src/components/__examples__/Card.example.tsx
  src/components/atoms/AnimatedCard/AnimatedCard.tsx
  src/components/atoms/Input/Input.tsx
  src/components/atoms/ThemeToggle/ThemeToggle.tsx
  src/components/common/ShareButtons.tsx
  src/components/layouts/ProfilePageLayout.tsx
  src/components/molecules/AdvancedSearchBar/AdvancedSearchBar.tsx
  src/components/navigation/NavbarExample.tsx
  src/components/organisms/FilterBar/FilterBar.tsx
  src/config/footerConfig.tsx
  src/hooks/usePerformance.ts
  src/lib/cms/config.ts
  src/lib/cms/error-handler.ts
  src/lib/services/baserow.service.ts
  src/lib/swr-config.ts
Owners: @devops-team, @your-github-username, @frontend-team

Fixing husky setup for Vercel deployment
  package.json
  scripts/setup-husky.js
Owners: @devops-team, @your-github-username

gnocide
  NORTHERN_TRADIE_CARD_IMPLEMENTATION.md
  jest.config.js
  public/sitemap-0.xml
  src/__tests__/utils/testUtils.tsx
  src/components/directory/InfiniteScrollDirectory.tsx
  src/components/molecules/FilterSearchBar/FilterDropdown.tsx
  src/components/molecules/FilterSearchBar/FilterSearchBar.tsx
  src/components/molecules/FilterSearchBar/FilterSearchBar.types.ts
  src/components/molecules/FilterSearchBar/README.md
  src/components/molecules/FilterSearchBar/index.ts
  src/components/molecules/index.ts
  src/hooks/useInfiniteStations.ts
  src/utils/googleAnalytics.js
  src/utils/performance-monitor.ts
  src/utils/performance.ts
Owners: @documentation-team, @your-github-username, @frontend-team

make
  MODERN_HERO_DESIGN_SPEC.md
  REFACTORING_SUMMARY.md
  public/sitemap-0.xml
  src/app/directory/page.tsx
  src/app/listings/[slug]/page.tsx
  src/app/stations/[id]/page.tsx
  src/components/layouts/DirectoryLayout.client.tsx
  src/components/layouts/DirectoryLayout.server.tsx
  src/components/layouts/index.ts
  src/components/listings/StationList.tsx
  src/components/toggle/ViewToggle.tsx
  src/lib/api/server-actions.ts
  src/lib/data/stations-slugs.ts
  src/lib/seo/canonical.ts
  src/lib/utils/slugs.ts
Owners: @documentation-team, @your-github-username, @frontend-team

mak2e
  REFACTORING_COMPLETE.md
  REFACTORING_STRUCTURE.md
  src/app/directory/page.tsx
  src/app/listings/[slug]/page.tsx
  src/app/stations/[id]/page.tsx
  src/components/layouts/DirectoryLayout.client.tsx
  src/components/layouts/DirectoryLayout.server.tsx
  src/components/layouts/DirectoryLayout.tsx
  src/components/listings/StationList.tsx
  src/data/index.ts
  src/lib/seo/metadata.ts
Owners: @documentation-team, @your-github-username, @frontend-team

financialdisaster
  src/app/directory/page.tsx
  src/components/listings/StationList.tsx
  src/lib/seo/metadata.ts
Owners: @your-github-username, @frontend-team

3435345
  lib/seo/metadata.ts
  src/lib/seo/metadata.ts
Owners: @your-github-username

cowarsunderitsown shadow
  README.md
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  src/app/listings/[id]/page.tsx
  src/app/listings/[listing]/page.tsx
  src/components/NetworkStatus.js
  src/config/environment.ts
  src/data/FairFuelOpenDataAPI.pdf
  src/lib/api/server-action-utils.ts
  src/lib/api/server-actions.ts
  src/lib/api/validation.ts
  src/lib/fairfuel/service.ts
  src/lib/fairfuel/utils.ts
  src/types/fairfuel.ts
  src/types/index.ts
  src/types/station.ts
Owners: @documentation-team, @your-github-username, @frontend-team

cowarsunderitsown shadow
  src/lib/api/server-action-utils.ts
  src/lib/fairfuel/utils.ts
Owners: @your-github-username

justupdateagain
  public/sitemap-0.xml
  src/app/fuel-brands/page.tsx
  src/app/fuel-types/page.tsx
  src/components/organisms/Hero/Hero.tsx
Owners: @your-github-username, @frontend-team

justupdateagain222
  FAIRFUEL_API_UPDATE_SUMMARY.md
  README.md
  docs/SERVICE_VICTORIA_API_TERMS.md
  public/sitemap-0.xml
  src/app/fuel-brands/page.tsx
  src/app/fuel-types/page.tsx
  src/components/ServiceVictoriaAttribution.tsx
  src/components/organisms/EnhancedFooter.tsx
  src/lib/fairfuel/rate-limiter.ts
  src/lib/fairfuel/service.ts
Owners: @documentation-team, @your-github-username, @frontend-team

justupdateagain2232
  __mocks__/sharp.js
  jest.config.js
  src/app/stations/[id]/page.tsx
  src/components/directory/InfiniteScrollDirectory.tsx
  src/components/toggle/ViewToggle.tsx
Owners: @your-github-username, @frontend-team

allaboutfuel
  DEPRECATION_WARNINGS.md
  SITEMAP_CONFIGURATION.md
  next-sitemap.config.js
  package.json
  src/app/sitemap.ts
Owners: @documentation-team, @your-github-username, @devops-team

seetheupdatenow
  SITEMAP_FIX.md
  next-sitemap.config.js
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  src/app/sitemap.ts
Owners: @documentation-team, @your-github-username

againagnagian
  SEO_OPTIMIZATION_COMPLETE.md
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/fuel-brands/page.tsx
  src/app/fuel-types/page.tsx
  src/app/layout.tsx
  src/app/regions/[region]/page.tsx
  src/app/sitemap.ts
  src/app/station-amenities/page.tsx
  src/app/stations/[id]/page.tsx
  src/components/AboutPage.js
  src/components/AdvancedFilters.js
  src/components/BlogPage.js
  src/components/ErrorBoundary.js
  src/components/ExtensionErrorBoundary.js
  src/components/FuelPriceTrendsPage.js
  src/components/HowPricingWorksPage.js
  src/lib/seo/schema-generator.ts
Owners: @documentation-team, @your-github-username, @frontend-team

thisupdateyer
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/fuel-brands/page.tsx
  src/app/fuel-types/page.tsx
  src/app/regions/[region]/page.tsx
  src/app/station-amenities/page.tsx
Owners: @your-github-username

temporatry
  public/sitemap-0.xml
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/directory/page.tsx
  src/app/fuel-brands/page.tsx
  src/app/fuel-types/page.tsx
  src/app/layout.tsx
  src/app/map/page.tsx
  src/app/page.tsx
  src/app/regions/[region]/page.tsx
  src/app/station-amenities/page.tsx
Owners: @your-github-username

letsbui;din
  next.config.ts
  public/sitemap-0.xml
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/directory/page.tsx
  src/app/stations/[id]/page.tsx
Owners: @your-github-username

hardemed update
  MAPLIBRE_IMPLEMENTATION_GUIDE.md
  MAPLIBRE_MAP_SUMMARY.md
  QUICK_START_MAP.md
  package-lock.json
  package.json
  public/sitemap-0.xml
  src/components/map/INTEGRATION_EXAMPLE.md
  src/components/map/MapLibreMap.example.tsx
  src/components/map/MapLibreMap.tsx
  src/components/map/MapLibreMapCore.tsx
  src/components/map/README.md
  src/components/map/StationPopup.tsx
  src/components/map/index.ts
  src/components/map/map.css
  src/lib/map/clustering.ts
  src/lib/map/marker-utils.ts
  src/types/station.ts
Owners: @documentation-team, @devops-team, @your-github-username, @frontend-team

greatesthreattodemocray
  public/sitemap-0.xml
  src/components/map/MapLibreMap.example.tsx
  src/components/map/MapLibreMap.tsx
  src/components/map/MapLibreMapCore.tsx
  src/components/map/StationPopup.tsx
  src/lib/map/clustering.ts
Owners: @your-github-username, @frontend-team

youo
  public/sitemap-0.xml
  src/lib/fairfuel/utils.ts
Owners: @your-github-username

goodGPU
  public/sitemap-0.xml
  src/app/page.tsx
  src/components/map/MapLibreMap.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/lib/seo/advanced-metadata.ts
  src/lib/seo/meta-generator.ts
Owners: @your-github-username, @frontend-team

thankyou
  FIX_CSS_MIME_ERROR.md
  public/icon.svg
Owners: @documentation-team, @your-github-username

letpeopledecice
  next.config.ts
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/lib/api/enhanced-fetcher.ts
  src/lib/fairfuel/utils.ts
  src/lib/map/clustering.ts
Owners: @your-github-username, @frontend-team

inent
  eslint.config.mjs
  package.json
Owners: @your-github-username, @devops-team

inent
  FOLDER_STRUCTURE_UPGRADE.md
  src/components/directory/InfiniteScrollDirectory.tsx
  src/components/map/index.ts
  src/components/molecules/FilterSearchBar/FilterSearchBar.tsx
  src/components/molecules/SuburbAutoSuggest/SuburbAutoSuggest.tsx
  src/components/molecules/SuburbAutoSuggest/index.ts
  src/components/pages/index.ts
  src/hooks/useInfiniteStations.ts
  src/hooks/useSuburbSuggestions.ts
  src/lib/api/index.ts
Owners: @documentation-team, @frontend-team, @your-github-username

fuckinfucck
  PRE_PUSH_FIXES.md
  SEARCH_BAR_SUBURB_AUTOSUGGEST.md
  TARGETED_UPGRADE_PLAN.md
  UPGRADE_PLAN.md
  eslint.config.mjs
  lib/seo/analytics.ts
  lib/seo/sitemap.ts
  next.config.ts
  package-lock.json
  package.json
  public/sitemap-0.xml
  src/__tests__/mocks/mockData.ts
  src/components/StationCards.js
  src/components/directory/InfiniteScrollDirectory.tsx
  src/components/listings/StationList.tsx
  src/components/map/MapLibreMapCore.tsx
  src/components/map/StationPopup.tsx
  src/components/molecules/StationCard/StationCard.tsx
  src/components/templates/SuburbFuelPricesPage.tsx
  src/lib/map/marker-utils.ts
  src/lib/utils/colors.ts
  src/lib/utils/distance.ts
  src/lib/utils/price.ts
  src/types/listing.ts
  src/types/station.ts
  src/utils/formatters.ts
Owners: @documentation-team, @your-github-username, @devops-team, @frontend-team

update2
  IMAGE_ERROR_FIX_SUMMARY.md
  next.config.ts
  public/sitemap-0.xml
  src/components/common/OptimizedImage.tsx
  src/components/pages/EnhancedLandingPage.tsx
  src/components/pages/LandingPage.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/types/listing.ts
  src/types/station.ts
Owners: @documentation-team, @your-github-username, @frontend-team

ilovescount
  CRITICAL_FIXES_SUMMARY.md
  VERCEL_BUILD_FIX.md
  eslint.config.mjs
  package-lock.json
Owners: @documentation-team, @your-github-username, @devops-team

fuckinfucckqwqwqwqwqq
  VERCEL_INSTALL_FIX.md
  package.json
  scripts/install-dependencies.js
  src/config/environment.ts
Owners: @documentation-team, @devops-team, @your-github-username

fix: remove install script from package.json to fix Vercel build
  package.json
Owners: @devops-team

iagree
  public/sitemap-0.xml
  src/lib/seo/internal-linking.ts
  src/lib/seo/meta-generator.ts
  src/lib/seo/schema-generator.ts
  src/lib/seo/utils.ts
  src/styles/index.ts
  src/types/index.ts
Owners: @your-github-username

iagree
  public/sitemap-0.xml
Owners: @your-github-username

forceforce
  __mocks__/framer-motion.js
  public/sw.js
  src/app/directory-example/page.tsx
  src/components/DirectoryPageNew.js
  src/components/ErrorBoundary.js
  src/components/StationCards.js
  src/components/cards/OptimizedStationCard.tsx
  src/lib/performance/core-web-vitals.ts
  src/utils/analytics.js
  src/utils/googleAnalytics.js
  src/utils/performance-monitor.ts
  src/utils/performance.ts
Owners: @your-github-username, @frontend-team

forceforce
  public/sw.js
  src/app/directory-example/page.tsx
  src/components/DirectoryPageNew.js
Owners: @your-github-username, @frontend-team

elonandtucker
  playwright-report/trace/assets/codeMirrorModule-eyVcHN77.js
  playwright-report/trace/assets/defaultSettingsView-w0zYjHsW.js
  src/app/directory-example/page.tsx
Owners: @your-github-username

bensays
  ERROR_FIXES_SUMMARY.md
  INTERACTIVE_MAP_IMPLEMENTATION.md
  QUICK_START_MAP.md
  SITE_CLEANUP_COMPLETE.md
  next.config.ts
  public/icon.svg
  public/sitemap-0.xml
  src/app/directory-example/page.tsx
  src/app/icon.svg
  src/components/map/HeroMap.module.css
  src/components/map/HeroMap.tsx
  src/components/map/HeroMapInner.tsx
  src/components/map/index.ts
  src/components/pages/LandingPage.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
Owners: @documentation-team, @your-github-username, @frontend-team

fix: resolve all linting errors and build issues
  src/components/map/HeroMapInner.tsx
  src/components/pages/LandingPage.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
Owners: @frontend-team
