Repository PetroPricesnearMe/petrol-prices-melbourne, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @frontend-team, @design-team, @backend-team, @qa-team, @devops-team, @documentation-team

bensays
  FINAL_CLEANUP_REPORT.md
Owners: @documentation-team

feat: upgrade to MapLibre GL for maximum performance and SEO
  MAPLIBRE_UPGRADE_COMPLETE.md
  MAP_PERFORMANCE_COMPARISON.md
  public/sitemap-0.xml
  src/components/map/HeroMapLibre.tsx
  src/components/map/HeroMapLibreInner.tsx
  src/components/map/clustering.ts
  src/components/map/index.ts
  src/components/pages/LandingPage.tsx
Owners: @documentation-team, @your-github-username, @frontend-team

petrolpricesnearme
  AUTO_GENERATED_LOCATION_PAGES.md
  DEPLOYMENT_READY.md
  FINAL_MAP_STATUS.md
  IMPLEMENTATION_COMPLETE.md
  LOCATION_PAGES_TEST_GUIDE.md
  QUICK_START_LOCATION_PAGES.md
  package-lock.json
  package.json
  src/app/melbourne/[suburb]/[fuelType]/SuburbFuelTypeClient.tsx
  src/app/melbourne/[suburb]/[fuelType]/page.tsx
  src/app/servo/[brand]-[suburb]/ServoBrandSuburbClient.tsx
  src/app/servo/[brand]-[suburb]/page.tsx
  src/app/sitemap.ts
  src/app/suburb/fuel-prices-[suburb]-today/SuburbTodayPricesClient.tsx
  src/app/suburb/fuel-prices-[suburb]-today/page.tsx
  src/lib/schema/suburb-fuel-schema.ts
  src/lib/seo/suburb-fuel-metadata.ts
Owners: @documentation-team, @devops-team, @your-github-username

fix: trigger vercel deployment with latest changes
  package-lock.json
  public/sitemap-0.xml
  src/app/servo/[brand]-[suburb]/page.tsx
  src/app/suburb/fuel-prices-[suburb]-today/page.tsx
  src/lib/schema/brand-suburb-schema.ts
  src/lib/schema/suburb-today-schema.ts
  src/lib/seo/brand-suburb-metadata.ts
  src/lib/seo/suburb-today-metadata.ts
Owners: @devops-team, @your-github-username

updateupdate
  ALL_ERRORS_FIXED.md
  next.config.ts
  public/sitemap-0.xml
  src/app/map/MapViewClient.tsx
  src/components/molecules/MapView/MapViewMapLibre.tsx
Owners: @documentation-team, @your-github-username, @frontend-team

updateupdate
  AUTO_GENERATED_LOCATION_PAGES.md
  GET_DIRECTIONS_FIX_SUMMARY.md
  LOCATION_PAGES_TEST_GUIDE.md
  PRODUCTION_FIXES_SUMMARY.md
  QUICK_START_LOCATION_PAGES.md
  eslint.config.mjs
  public/sitemap-0.xml
  src/app/directory/StationDirectoryClient.tsx
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/directory/[suburb]/page.tsx
  src/app/melbourne/[suburb]/[fuelType]/SuburbFuelTypeClient.tsx
  src/app/melbourne/[suburb]/[fuelType]/page.tsx
  src/app/servo/[brand]-[suburb]/ServoBrandSuburbClient.tsx
  src/app/stations/[id]/page.tsx
  src/components/map/MapLibreMapCore.tsx
  src/components/map/StationPopup.tsx
  src/components/modals/Modal.tsx
  src/components/molecules/MapView/MapView.tsx
  src/components/molecules/StationCard/ModernStationCard.tsx
  src/lib/schema/suburb-fuel-schema.ts
  src/lib/seo/suburb-fuel-metadata.ts
Owners: @documentation-team, @your-github-username, @frontend-team

updateupdate
  STATION_SEO_IMPLEMENTATION_SUMMARY.md
  STATION_SEO_IMPROVEMENTS.md
  STATION_SEO_QUICK_REFERENCE.md
  eslint.config.mjs
  examples/station-seo-example.tsx
  src/app/directory/StationDirectoryClient.tsx
  src/app/example-seo-page/page.tsx
  src/app/melbourne/[suburb]/[fuelType]/SuburbFuelTypeClient.tsx
  src/app/search-test/SearchTestClient.tsx
  src/app/servo/[brand]-[suburb]/ServoBrandSuburbClient.tsx
  src/app/stations/[id]/page.tsx
  src/app/suburb/fuel-prices-[suburb]-today/SuburbTodayPricesClient.tsx
  src/components/InteractiveStationMap.tsx
  src/components/accessibility/SkipToContent.tsx
  src/components/atoms/Button/Button.test.tsx
  src/components/atoms/LazyImage/LazyImage.tsx
  src/components/cards/OptimizedStationCard.tsx
  src/components/cards/StationCard.tsx
  src/components/common/AnimatedGrid.tsx
  src/components/common/ErrorBoundary/SpecializedBoundaries.tsx
  src/components/common/FluidGrid.example.tsx
  src/components/common/LazyLoad/LazyLoad.tsx
  src/components/common/OfflineNotice.tsx
  src/components/common/PaginatedGrid.tsx
  src/components/dynamic/StationListCMS.tsx
  src/components/map/HeroMapInner.tsx
  src/components/map/HeroMapLibreInner.tsx
  src/components/map/MapLibreMapCore.tsx
  src/components/map/StationPopup.tsx
  src/components/molecules/AdvancedSearchBar/AdvancedSearchBar.tsx
  src/components/molecules/MapView/MapView.tsx
  src/components/molecules/MapView/MapViewMapLibre.tsx
  src/components/molecules/SuburbAutoSuggest/SuburbAutoSuggest.tsx
  src/components/organisms/EnhancedCardGrid.tsx
  src/components/pages/DetailedListingPage.tsx
  src/components/seo/LocalBusinessSchema.tsx
  src/components/templates/SuburbFuelPricesPage.tsx
  src/components/toggle/ViewToggle.tsx
  src/hooks/useInfiniteStations.ts
  src/lib/seo/station-seo.ts
Owners: @documentation-team, @your-github-username, @frontend-team

subjectmaybeempty
  SEO_FIXES_SUMMARY.md
  SEO_REPORT_FIXES_COMPLETE.md
  public/pertrolSEO.pdf
  src/app/layout.tsx
  src/app/page.tsx
  src/app/search-test/SearchTestClient.tsx
  src/app/search-test/page.tsx
  src/app/stations/[id]/page.tsx
  src/components/map/HeroMapLibreInner.tsx
  src/components/molecules/SortDropdown/SortDropdown.tsx
  src/components/molecules/SuburbAutoSuggest/SuburbAutoSuggest.tsx
  src/lib/map/clustering.ts
  src/lib/swr-config.ts
  src/utils/analytics.js
Owners: @documentation-team, @your-github-username, @frontend-team

updateforthismthfr
  public/sitemap-0.xml
  src/app/stations/[id]/page.tsx
  src/components/seo/LocalBusinessSchema.tsx
Owners: @your-github-username, @frontend-team

menueofmonetis
  src/app/privacy/page.tsx
  src/app/search-test/SearchTestClient.tsx
  src/components/common/OptimizedImage.tsx
  vercel.json
Owners: @your-github-username, @frontend-team, @devops-team

google ad sense
  src/app/layout.tsx
  src/app/search-test/SearchTestClient.tsx
Owners: @your-github-username

google ad sens2e
  src/app/map/MapViewClient.tsx
  src/components/cards/OptimizedStationCard.tsx
  src/components/cards/StationCard.tsx
  src/components/molecules/StationCard/StationCard.tsx
Owners: @your-github-username, @frontend-team

google ad sens2e
  MAP_PILLAR_PAGE_IMPLEMENTATION.md
  src/app/map/MapViewClient.tsx
  src/app/map/page.tsx
  src/components/map/InternalLinkingHub.tsx
  src/components/map/LiveFuelPriceSnapshot.tsx
  src/components/map/LocationToggle.tsx
  src/components/map/MapFAQs.tsx
  src/components/map/SuburbQuickLinks.tsx
Owners: @documentation-team, @your-github-username, @frontend-team

update the site
  PROJECT_VERIFICATION_REPORT.md
  public/sitemap-0.xml
  src/app/map/MapViewClient.tsx
  src/app/map/page.tsx
  src/components/atoms/AnimatedCard/AnimatedCard.tsx
  src/components/map/LiveFuelPriceSnapshot.tsx
  src/components/map/MapFAQs.tsx
  src/components/map/SuburbQuickLinks.tsx
Owners: @documentation-team, @your-github-username, @frontend-team

hoy
  src/app/contact/page.tsx
Owners: @your-github-username

alwashere
  next.config.ts
  src/app/layout.tsx
Owners: @your-github-username

updateofallupdates
  FUEL_PRICES_API_TEST.md
  next-sitemap.config.js
  src/app/api/fuel/prices/route.ts
  src/app/layout.tsx
  src/app/locations/[suburb]/page.tsx
  src/app/map/MapViewClient.tsx
  src/app/page.tsx
  src/app/sitemap.ts
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/components/seo/LastUpdated.tsx
  src/lib/seo/keyword-strategy.ts
Owners: @documentation-team, @your-github-username, @frontend-team

updateSEO
  SEO_FEATURES_VERIFICATION.md
  SEO_SUBURB_PAGES_IMPLEMENTATION.md
  public/sitemap-0.xml
  src/app/locations/[suburb]/page.tsx
  src/app/sitemap.ts
  src/components/cards/OptimizedStationCard.tsx
  src/components/cards/StationCard.tsx
  src/components/molecules/StationCard/StationCard.tsx
  src/data/melbourne-suburbs.ts
  src/lib/seo/keyword-strategy.ts
Owners: @documentation-team, @your-github-username, @frontend-team

gotothedoor
  package.json
  public/sitemap-0.xml
  scripts/install-husky.js
  src/app/robots.ts
  src/app/sitemap.ts
Owners: @devops-team, @your-github-username

pop
  package.json
  src/app/layout.tsx
  src/app/locations/[suburb]/page.tsx
  src/app/map/MapViewClient.tsx
  src/app/page.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/lib/seo/keyword-strategy.ts
Owners: @devops-team, @your-github-username, @frontend-team

notgonnabeanambush
  ERROR_FIXES_SUMMARY.md
  RENDER_BLOCKING_CSS_FIX.md
  public/sitemap-0.xml
  src/app/layout.tsx
  src/components/AsyncCSSLoader.tsx
  src/styles/critical.css
Owners: @documentation-team, @your-github-username, @frontend-team

updateidapudapupdatewild
  public/images/1001238661 (1).jpg
  src/app/directory/StationDirectoryClient.tsx
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/layout.tsx
  src/app/map/MapViewClient.tsx
  src/app/page.tsx
  src/components/Navbar.js
  src/components/cards/OptimizedStationCard.tsx
  src/components/cards/StationCard.tsx
  src/components/directory/InfiniteScrollDirectory.tsx
  src/components/dynamic/AccessibleForm.tsx
  src/components/layout/Navigation.tsx
  src/components/layouts/ProfilePageLayout.tsx
  src/components/map/LocationToggle.tsx
  src/components/map/StationPopup.tsx
  src/components/molecules/StationCard/StationCard.tsx
  src/lib/api/server-action-utils.ts
  src/lib/api/server-actions.ts
  src/lib/seo/schema-generator.ts
Owners: @your-github-username, @frontend-team

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Owners: @devops-team

bigupdate dontknowhowthisgoesbut
  public/sitemap-0.xml
  src/app/directory/StationDirectoryClient.tsx
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/layout.tsx
  src/app/listings/[listing]/page.tsx
  src/app/map/MapViewClient.tsx
  src/components/Navbar.js
  src/components/cards/OptimizedStationCard.tsx
  src/components/cards/StationCard.tsx
  src/components/dynamic/AccessibleForm.tsx
  src/components/molecules/StationCard/StationCard.tsx
  src/lib/api/server-action-utils.ts
  src/lib/api/server-actions.ts
  src/lib/fairfuel/service.ts
  src/lib/seo/schema-generator.ts
Owners: @your-github-username, @frontend-team

.github/CODEOWNERS:

# Code Owners
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for
# review when someone opens a pull request.

# Global owners
* @your-github-username

# Component owners
/src/components/ @frontend-team
/src/design-system/ @design-team

# API and backend
/src/services/ @backend-team
/pages/api/ @backend-team

# Testing
/__tests__/ @qa-team
/e2e/ @qa-team
/cypress/ @qa-team

# Configuration
*.json @devops-team
*.yml @devops-team
*.yaml @devops-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# CI/CD
/.github/ @devops-team
